.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	height: 50px;
	.nav-item {
		display: block;
		margin: 10px;
		color: #999999;
		font-size: 14px;
	}
	a {
		text-decoration: none;
		color: #606266;
	}

	.mine-selected {
		color: #333333;
		font-size: 16px;
		font-weight: 600;
	}
	.selected {
		color: #333333;
		font-size: 16px;
		font-weight: 600;
	}
}
