.discover-container {
	margin: 0 10px;
	img {
		height: 100%;
		width: 100%;
		border-radius: 5px;
	}

	.menu {
		text-align: center;
		margin: 10px 0;
		display: flex;
		width: 100%;
		&-item {
			font-size: 12px;
			width: 25%;
			p {
				margin: 5px 0;
			}
		}
		&-icon-m {
			background-image: url(../../static/image/icn_daily_prs.png);
		}
		&-icon-g {
			background-image: url(../../static/image/icn_playlist_prs.png);
		}
		&-icon-p {
			background-image: url(../../static/image/icn_rank_prs.png);
		}
		&-icon-d {
			background-image: url(../../static/image/icn_fm_prs.png);
		}

		.public {
			margin: 0 auto;
			height: 37px;
			width: 37px;
			background-size: 100% 100%;
		}
	}
	.recommend {
		margin: 20px 0;
		.font-style {
			font-size: 12px;
			color: #999999;
		}
		.font-btn {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.font-next-style {
				font-size: 14px;
				font-weight: bold;
				color: #606266;
			}
			.look-btn {
				text-align: center;
				line-height: 20px;
				height: 20px;
				width: 60px;
				border: 1px solid #ddd;
				border-radius: 15px;
				font-size: 12px;
				color: #606266;
			}
		}
	}
}
